# Copy this file to .env and fill in your values
# NEVER commit .env to GitHub — it is in .gitignore

GEMINI_API_KEY=AIzaSyDYJg5BP_UUpMchmXtZd6vOfu9A4REgeiA
FB_PAGE_ID=212727652419794
FB_PAGE_TOKEN=1584269312658755|nSDc-bxG2doI02ZqG8QKyiSpqUs
PEXELS_API_KEY=aZpUOb3lJmf0tQ0h7iari7quWP4aqEp7pyCuNfIKJAtzfY4sBOxFZ0k7
REPORT_EMAIL=msoftware@hotmail.com
